/*#Patterns: category_vm_bestpractices_AvoidReassigningParameters */

/*#Warn: category_vm_bestpractices_AvoidReassigningParameters */
#macro( mymacro $v1 )
    #if($c1)
        stuff
        #set($v1 = "other data")
    #else
        stuff
    #end
#end
