version: 2.1

orbs:
  codacy: codacy/base@12.1.5
  codacy_plugins_test: codacy/plugins-test@2.0.11

workflows:
  version: 2
  compile_test_deploy:
    jobs:
      - codacy/checkout_and_version:
          write_sbt_version: true
      - codacy/sbt:
          name: publish_docker_local
          cmd: |
            sbt "runMain com.codacy.pmd.DocGenerator"
            sbt "scalafmt / test;
                 Test / scalafmt / test;
                 Sbt / scalafmt / test;
                 set Docker / version := \"latest\";
                 Docker / publishLocal;"
            docker save --output docker-image.tar $CIRCLE_PROJECT_REPONAME:latest
          persist_to_workspace: true
          cache_prefix: sbt-cache-13092024
          requires:
            - codacy/checkout_and_version
      - codacy_plugins_test/run:
          name: plugins_test
          run_multiple_tests: true
          requires:
            - publish_docker_local
      - codacy/publish_docker:
          context: CodacyDocker
          requires:
            - plugins_test
          filters:
            branches:
              only:
                - master
      - codacy/tag_version:
          name: tag_version
          context: CodacyAWS
          requires:
            - codacy/publish_docker
